.promo {

  &__container {
    @include container-w;
    position: relative;
    z-index: 1;
  }

  &__slider {
    overflow: hidden;
  }

  &__slide {
    position: relative;
    background-color: $text-c;
    color: $text-c--light;
  }

  &__slide-content {
    position: relative;
    z-index: 2;
    padding: 4.5rem 1rem;
    min-height: 510px;
    display: flex;
    align-items: flex-end;
    box-sizing: border-box;

    @include media-min-md {
      min-height: 450px
    }
  }

  &__slide-container {
    @include container-d;
  }

  &__slide-title {
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.75rem;
    letter-spacing: -0.01em;
    max-width: 580px;

    @include media-min-sm {
      font-size: ms(2);
    }
  }

  &__slide-desc {
    font-size: ms(-1);
    line-height: 1.5em;
  }

  &__slide-cover {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    &::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(#000, 0.5);
    }

    img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-navigation-wrap {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
    display: flex;
    width: 100%;
    pointer-events: none;
    padding: 0 1rem;
  }

  &__slider-navigation-container {
    @include container-d;

    @include media-min-md {
      display: flex;
      justify-content: flex-end;
    }
  }

  &__slider-navigation {
    pointer-events: all;
  }
}