.featured-works {
  @include s-padding;
  overflow: hidden;

  &__container {
    @include container-d;

    @include media-min-sm {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
    }
  }

  &__title {
    @include s-title;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      width: 100%;
      max-width: 100%;
      flex: 1 0 0%;
    }
  }

  &__slider {
    width: 100%;

    @include media-min-sm {
      width: 100%;
      max-width: 100%;
      flex: 0 0 100%;
    }
  }

  &__figure {
    margin: 0;
    padding: 0;
  }

  &__figure-photo {
    position: relative;

    &::after {
      display: block;
      content: '';
      width: 100%;
      padding-bottom: (9 / 16) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-navigation {

    @include media-max-sm {
      display: none;
    }

    @include media-min-sm {
      display: block;
      width: auto;
      max-width: 100%;
      flex: 0 0 auto;
    }
  }

  &__slider-progressbar {
    margin-top: 0.75rem;

    @include media-min-sm {
      display: none;
    }
  }
}