mixin featured-works(props)

  article.featured-works
    .featured-works__container
      h2.featured-works__title Наши работы
      +slider-navigation().featured-works__slider-navigation
      .featured-works__slider
        .swiper-wrapper
          .swiper-slide
            figure.featured-works__figure
              .featured-works__figure-photo
                img(src='https://images.unsplash.com/photo-1587582423116-ec07293f0395?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80', alt='')
          .swiper-slide
            figure.featured-works__figure
              .featured-works__figure-photo
                img(src='https://images.unsplash.com/photo-1610164989165-0c4701bc4ce2?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80', alt='')
          .swiper-slide
            figure.featured-works__figure
              .featured-works__figure-photo
                img(src='https://images.unsplash.com/photo-1598517834810-65ce635f3d4d?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1355&q=80', alt='')
          .swiper-slide
            figure.featured-works__figure
              .featured-works__figure-photo
                img(src='https://images.unsplash.com/photo-1598518603394-656bb8992a49?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1355&q=80', alt='')
      +slider-progressbar().featured-works__slider-progressbar