mixin equipment-card(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' equipment-card--' + modsList[i].trim();
      }
    }

  .equipment-card(class=allMods)&attributes(attributes)
    .equipment-card__slider
      .swiper-wrapper
        .equipment-card__slide.swiper-slide
          img(src='https://images.unsplash.com/photo-1587582423116-ec07293f0395?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80', alt='')
        .equipment-card__slide.swiper-slide
          img(src='https://images.unsplash.com/photo-1589939705384-5185137a7f0f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', alt='')
        .equipment-card__slide.swiper-slide
          img(src='https://images.unsplash.com/photo-1567954970774-58d6aa6c50dc?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1778&q=80', alt='')
      +slider-navigation().equipment-card__slider-navigation
    h3.equipment-card__title Название
    p.equipment-card__desc It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.