.service-inner {

  &__intro {

    @include media-min-sm {
      padding: 2.25rem 1rem 2.25rem;
    }
  }

  &__intro-container {
    @include container-d;

    @include media-min-sm {
      display: grid;
      gap: 20px;
      grid-template: 'content . cover' / 4fr 1fr 7fr;
    }
  }

  &__cover {

    @include media-min-sm {
      grid-area: cover;
    }

    img {
      width: 100%;
      max-height: auto;
    }
  }

  &__content {
    padding: 1.5rem 1rem;

    @include media-min-sm {
      grid-area: content;
      padding: 0;
    }
  }

  &__title {
    @include s-title;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__term-list {
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;

    &:not(:last-child) {
      margin-bottom: 0.5rem;
    }

    li {
      position: relative;
      font-size: ms(-1);
      line-height: 1.45em;

      &::before {
        width: 1.5rem;
        display: inline-block;
      }

      &:not(:last-child) {

        &::after {
          content: ';';
        }
      }

      &:last-child {

        &::after {
          content: '.';
        }
      }
    }

    &--numered {
      counter-reset: numered;

      li {

        &::before {
          counter-increment: numered;
          content: counter(numered) '. ';
        }
      }
    }

    &--alphabet {
      counter-reset: alphabet;

      li {

        &::before {
          counter-increment: alphabet;
          content: counter(alphabet, upper-alpha) '. ';
        }
      }
    }
  }

  &__body {
    padding: 2.25rem 1rem;
  }

  &__body-container {
    @include container-d;
  }

  &__text {
    font-size: ms(-1);
    line-height: 1.45em;

    @include media-min-sm {
      font-size: 16px;
    }
  }
}