.page-header {
  padding: 0 1rem;

  &__container {
    @include container-w;
  }

  &__top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid $border-c;
    padding: 0.25rem 0;

    @include media-min-sm {
      padding: 0.5rem 0;
    }
  }

  &__contact-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;

    @include media-max-sm {
      justify-content: space-between;
      width: 100%;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.45em;
      font-weight: 500;

      &:not(:last-child) {
        margin-right: 1.5rem;
      }

      @include media-max-md {
        font-size: 12px;
      }

      a {
        display: block;
        color: currentColor;
        text-decoration: none;
      }
    }
  }

  &__address {
    display: none;
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 500;

    @include media-min-sm {
      display: block;
    }

    @include media-max-md {
      font-size: 12px;
    }
  }

  &__bottom {
    padding: 0.5rem 0;
    display: flex;
    align-items: center;
    position: relative;
  }

  &__logo {
    margin-right: auto;

    @include media-max-md {

      img {
        width: auto;
        max-height: 30px;
      }
    }
  }

  &__nav {
    position: relative;

    @include media-max-sm {
      position: absolute;
      z-index: 1000;
      background-color: $bg-c;
      top: 00;
      right: -0.5rem;
      box-shadow:
        0 30px 60px -12px rgba(0,0,0,0.15),
        0 18px 36px -18px rgba(0,0,0,0.3);
      padding: 3rem 0.75rem 1rem;
      pointer-events: none;
      opacity: 0;
      transform: scale(0.95);
      transform-origin: 100% 0;
      transition: 250ms $transition-timing;
      text-align: right;
      width: 100%;
      max-width: 12.5rem;
      flex-direction: column;

      &--is-open {
        transform: scale(1);
        opacity: 1;
        pointer-events: auto;
      }
    }
  }

  &__nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;

    @include media-max-sm {
      flex-direction: column;
    }

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.45em;
      font-weight: 500;
      font-size: ms(-1);

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }

      @include media-min-sm {
        font-size: 12px;

        &:not(:last-child) {
          margin-bottom: 0;
          margin-right: 1.5rem;
        }
      }

      @include media-min-md {
        font-size: ms(-1);
      }

      a {
        display: block;
        color: currentColor;
        text-decoration: none;
      }
    }
  }

  &__burger {
    position: relative;
    z-index: 1001;

    @include media-min-sm {
      display: none;
    }
  }
}