mixin page-header(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-header--' + modsList[i].trim();
      }
    }

  header.page-header(class=allMods)&attributes(attributes)
    .page-header__container
      .page-header__top
        ul.page-header__contact-list
          li
            a(href='tel:+79253308603') +7 (925) 330-86-03
          li
            a(href='mailto:eck-rus@yandex.ru') eck-rus@yandex.ru
        span.page-header__address Москва, Соколово-Мещерская, д. 25, пом. 7
      .page-header__bottom
        +logo('/').page-header__logo
          img(src='img/logo.png', alt='Европейская строительная компания', width='200', height='41')
        nav.page-header__nav
          ul.page-header__nav-list
            li
              a(href='/') Водопонижение
            li
              a(href='/') Инженерные сети
            li
              a(href='/') Оборудование
            li
              a(href='/') Наши работы
            li
              a(href='/') Контакты
        +burger.page-header__burger
