@mixin container-d {
  width: 100%;
  max-width: 1180px;
  margin: 0 auto;
}

@mixin container-w {
  width: 100%;
  max-width: 1350px;
  margin: 0 auto;
}

@mixin s-padding {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 4.5rem 1rem;
  }
}

@mixin s-title {
  font-size: ms(1);
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 1.1em;
  margin: 0;

  @include media-min-sm {
    font-size: ms(2);
  }
}