.slider-navigation {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;

  &__btn {
    position: relative;
    margin: 0;
    padding: 0;
    border: none;
    background-color: $bg-c;
    transition: 250ms $transition-timing;
    cursor: pointer;
    outline: none;
    color: $text-c;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    vertical-align: middle;
    padding: 0.75rem 1rem;

    svg {
      display: block;

      path {
        stroke: currentColor;
      }
    }

    &--prev {

      svg {
        transform: rotate3d(0, 0, 1, 180deg);
      }
    }
  }
}
