mixin slider-navigation(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' slider-navigation--' + modsList[i].trim();
      }
    }

  .slider-navigation(class=allMods)&attributes(attributes)
    button.slider-navigation__btn.slider-navigation__btn--prev
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 31 13', width='31', height='13')
        path(d='M-2.4e-7 6.5H30m0 0L24.5902 1M30 6.5L24.5902 12')
    button.slider-navigation__btn.slider-navigation__btn--next
      svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 31 13', width='31', height='13')
        path(d='M-2.4e-7 6.5H30m0 0L24.5902 1M30 6.5L24.5902 12')