.contact-us {
  text-align: center;

  &__container {
    @include container-w;
    background-color: $bg-c--dark;
    color: $text-c--light;
    padding: 3rem 1rem;

    @include media-min-sm {
      padding: 6rem 0;
    }
  }

  &__title {
    @include s-title;
    margin-bottom: 0.5rem;
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 1.5rem;
  }

  &__form {
    max-width: 580px;
    margin: 0 auto;
  }

  &__form-input-label {
    display: block;
    border: 1px solid currentColor;
    position: relative;
  }

  &__form-input {
    border: none;
    border-radius: 0;
    font-size: ms(-1);
    line-height: 1.45em;
    padding: 1rem 6rem 1rem 1.5rem;
    position: relative;
    z-index: 1;
    background-color: transparent;
    display: inline-block;
    vertical-align: middle;
    width: 100%;
    color: $text-c--light;

    &::placeholder {
      color: currentColor;
      opacity: 1;
    }
  }

  &__form-submit {
    position: absolute;
    top: 0;
    right: 0;
    width: 5rem;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 2;
    background-color: transparent;
    color: currentColor;
    border: none;
    border-left: 1px solid currentColor;
    border-radius: 0;
    cursor: pointer;

    svg {
      display: block;
      stroke: currentColor;
    }
  }
}