mixin contact-us(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' contact-us--' + modsList[i].trim();
      }
    }

  section.contact-us(class=allMods)&attributes(attributes)
    .contact-us__container
      h2.contact-us__title Свяжитесь с нами
      p.contact-us__desc Если вам необходимо оборудование в аренду.
      form.contact-us__form
        label.contact-us__form-input-label
          input.contact-us__form-input(type='text', placeholder='Номер телефона')
          button.contact-us__form-submit
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 31 13', width='31', height='13')
              path(d='M-2.4e-7 6.5H30m0 0L24.5902 1M30 6.5L24.5902 12')