.btn {
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 1;
  margin: 0;
  border: none;
  padding: 15px 30px;
  overflow: hidden;
  background-color: $primary-c;
  background-image: none;
  color: $text-c--light;
  border-radius: 0;
  font-family: $font-family;
  font-size: ms(-1);
  font-weight: 500;
  letter-spacing: 0.01em;
  line-height: 1.45em;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  touch-action: manipulation;
  user-select: none;
  white-space: nowrap;
  transition: 250ms $transition-timing;

  &::before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: darken($primary-c, 5%);
    z-index: -1;
    transform: scaleX(0);
    transition: transform 500ms $transition-timing;
    transform-origin: right center;
  }

  &:hover,
  &:focus {
    color: $text-c--light;

    &::before {
      transform: scaleX(1);
      transform-origin: left center;
    }
  }

  @include media-max-xs {
    width: 100%;
  }

  &--ghost {
    background-color: transparent;
    border: 1px solid $primary-c;
    color: currentColor;

    &::before {
      background-color: $primary-c;
    }
  }
}
