.works {
  @include s-padding;

  &__container {
    @include container-d;
  }

  &__title {
    @include s-title;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 2.25rem;

    @include media-min-sm {
      display: grid;
      gap: 60px 20px;
      grid-template-columns: repeat(12, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    width: 100%;

    @include media-max-sm {

      &:not(:last-child) {
        margin-bottom: 2.25rem;
      }
    }

    @include media-min-sm {

      &:nth-child(1),
      &:nth-child(4n+5) {
        grid-column: 1 / 8;
      }

      &:nth-child(4n+2) {
        grid-column: 9 / 13;
      }

      &:nth-child(4n+3) {
        grid-column: 1 / 5;
      }

      &:nth-child(4n+4) {
        grid-column: 6 / 13;
      }
    }
  }

  &__show-more {
    width: 100%;
  }
}