mixin seo(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' seo--' + modsList[i].trim();
      }
    }

  section.seo(class=allMods)&attributes(attributes)
    .seo__container
      h2.seo__title Заголовок
      .seo__text
        p Осуществляет работы по строительству, капитальному ремонту, аварийному ремонту наружных инженерных сетей различного назначения (водопроводов, напорной и самотечной канализации) производит работы по водопонижению автономными дизельными установками с пониженным уровнем шума.
        p Применение наших машин и механизмов  позволяет в условиях плотной городской застройки и на территории действующих предприятий производить замену изношенных трубопроводов на новые полиэтиленовые трубы различных диаметров без вскрытия грунта. Возможен ремонт изношенных трубопроводов из колодца в колодец, замена канализационных выпусков из зданий.
        p Основные направления деятельности Компании: Строительное водопонижение, водопонижение иглофильтрами грунтовых вод, аварийный ремонт канализации, аварийный ремонт водопровода, замена канализационных труб, замена водопроводных труб, ремонт инженерных коммуникаций, ремонт инженерных сетей, ремонт канализации и водопровода с применением пневмопробойника.