.seo {
  padding: 2.25rem 1rem;
  background-color: $bg-c;
  color: $text-c;

  @include media-min-sm {
    padding: 4.5rem 1rem;
  }

  &__container {
    @include container-d;
  }

  &__title {
    @include s-title;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__text {
    font-size: 16px;
    line-height: 1.5em;
  }
}