.work-card {

  &__slider {
    overflow: hidden;
    position: relative;
    z-index: 1;
    margin-bottom: 0.75rem;
  }

  &__slide {
    position: relative;
    height: 380px;

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__slider-navigation {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
  }

  &__title {
    font-size: ms(0);
    line-height: 1.45em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__desc {
    margin: 0;
    font-size: ms(-1);
    line-height: 1.45em;
  }
}