include ../blocks/btn/btn.pug
include ../blocks/burger/burger.pug
include ../blocks/contact-us/contact-us.pug
include ../blocks/cost-calculation/cost-calculation.pug
include ../blocks/equipment-card/equipment-card.pug
include ../blocks/featured-works/featured-works.pug
include ../blocks/field-range/field-range.pug
include ../blocks/get-a-call-modal/get-a-call-modal.pug
include ../blocks/logo/logo.pug
include ../blocks/page-footer/page-footer.pug
include ../blocks/page-header/page-header.pug
include ../blocks/seo/seo.pug
include ../blocks/service-card/service-card.pug
include ../blocks/slider-navigation/slider-navigation.pug
include ../blocks/slider-progressbar/slider-progressbar.pug
include ../blocks/work-card/work-card.pug
