.equipment {
  @include s-padding;

  &__container {
    @include container-d;
  }

  &__title {
    @include s-title;
    margin-bottom: 0.75rem;
  }

  &__desc {
    margin-bottom: 0.75rem;
    font-size: ms(-1);
    line-height: 1.45em;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-min-sm {
      margin-right: -0.5rem;
      margin-left: -0.5rem;
      display: flex;
      flex-wrap: wrap;
    }
  }

  &__item {
    margin: 0;
    padding: 0;
    margin-bottom: 2.25rem;

    @include media-min-sm {
      flex: 0 0 50%;
      max-width: 50%;
      padding: 0.5rem;
    }
  }
}