.services {
  @include s-padding;

  &__container {
    @include container-d;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include media-min-sm {
      display: grid;
      gap: 1rem;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__item {
    margin: 0;
    padding: 0;

    @include media-max-sm {

      &:not(:last-child) {
        margin-bottom: 0.75rem;
      }
    }
  }
}