.field-range {
  display: block;

  &__input-wrap {
    display: block;
    position: relative;
  }

  &__input {
    align-self: center;
    width: 100%;
    height: 2em;
    border-radius: 0.25em;
    border: 0;
    padding: 0;
    background: none;
    font-size: inherit;
    cursor: pointer;
    appearance: none;

    &::-webkit-slider-runnable-track,
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
    }



    @mixin field-range-runnable-track {
      box-sizing: border-box;
      width: 100%;
      height: 2px;
      border-radius: 0;
      background: rgba($text-c, 0.25);
      border: none;
    }

    &::-webkit-slider-runnable-track {
      @include field-range-runnable-track;
    }

    &::-moz-range-track {
      @include field-range-runnable-track;
    }

    &::-ms-track {
      @include field-range-runnable-track;
      color: transparent;
    }



    @mixin field-range-slider-thumb {
      box-sizing: border-box;
      width: 2px;
      height: 22px;
      border-radius: 1em;
      padding: 0;
      box-shadow: none;
      cursor: ew-resize;
      background: $text-c;
    }

    &::-webkit-slider-thumb {
      @include field-range-slider-thumb;
      margin-top: -11px;
    }

    &::-moz-range-thumb {
      @include field-range-slider-thumb;
    }

    &::-ms-thumb {
      @include field-range-slider-thumb;
    }



    &::-ms-fill-lower,
    &::-ms-tooltip {
      display: none;
    }
  }

  &__help-text {
    padding-top: 0;
  }
}

