.partners {

  &__container {
    @include container-d;
    position: relative;
    padding: 1.5rem 0;

    &::before,
    &::after {
      position: absolute;
      content: '';
      height: 1px;
      width: 100%;
      left: 0;
      background-color: $border-c;
    }

    &::before {
      bottom: 100%;
    }

    &::after {
      top: 100%;
    }

    @include media-min-sm {
      padding: 3rem 0;
    }
  }

  &__slider {
    overflow: hidden;
    position: relative;
    z-index: 1;
  }

  &__slider-navigation {
    position: absolute;
    top: 0;
    right: 1rem;
    z-index: 2;
    transform: translate3d(0,-50%,0);
  }

  &__item {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    img {
      display: block;
      height: 30px;
      width: auto;
    }
  }
}