extends ../pug/layout.pug

block meta
  - var title = 'Contacts';
  title= title
  meta(name='description', content='')

block content
  .contacts
    .contacts__container
      .contacts__intro
        h1.contacts__title Контакты
        p.contacts__desc It is a long established fact that a reader will be distracted.
      .contacts__get-a-call
        form.form
          label.form__label
            span.form__input-title Имя
            span.form__input-wrap
              input.form__input(type='text', placeholder='')
          label.form__label
            span.form__input-title Телефон
            span.form__input-wrap
              input.form__input(type='text', placeholder='+7 (921) 129-95-91')
          label.form__label
            span.form__input-title Комментарий
            span.form__input-wrap
              textarea.form__input(type='text', placeholder='Текст сообщения')
          label.form__label.form__label--checkbox
            input.form__checkbox-input(type='checkbox', name='')
            span.form__checkbox-title It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
          +btn('Отправить заявку', 'ghost').form__submit(type='submit')
      .contacts__contacts
        ul.contacts__contacts-list
          li.contacts__contacts-item
            h3.contacts__contacts-item-title Связаться
            a(href='tel:+74953424112') +7 (495) 342-41-12
            a(href='mailto:eck-rus@yandex.ru') eck-rus@yandex.ru
          li.contacts__contacts-item
            h3.contacts__contacts-item-title Адрес
            address Москва, Соколово-Мещерская, д. 25, пом. 7
        +btn('Заказать звонок').contacts__sign-up-btn(href='#get-a-call-modal', data-fancybox='')