extends ../pug/layout.pug

block meta
  - var title = 'Equipment';
  title= title
  meta(name='description', content='')

block content
  .equipment
    .equipment__container
      h1.equipment__title Оборудование
      p.equipment__desc Мы используем в работе современное высокоэффективное оборудование
      ul.equipment__list
        li.equipment__item
          +equipment-card()
        li.equipment__item
          +equipment-card()
        li.equipment__item
          +equipment-card()
        li.equipment__item
          +equipment-card()

  +cost-calculation()
  +contact-us()
  +featured-works()