extends ../pug/layout.pug

block meta
  - var title = 'Index';
  title= title
  meta(name='description', content='')

block content
  .promo
    .promo__container
      .promo__slider
        .swiper-wrapper
          .promo__slide.swiper-slide
            .promo__slide-content
              .promo__slide-container
                h2.promo__slide-title Сотрудничество с нами — это решение ваших задач
                .promo__slide-desc
                  p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
            .promo__slide-cover
              img(src='https://images.unsplash.com/photo-1541888804692-532ae8a87985?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80', alt='')
          .promo__slide.swiper-slide
            .promo__slide-content
              .promo__slide-container
                h2.promo__slide-title Сотрудничество с нами — это решение ваших задач
                .promo__slide-desc
                  p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
            .promo__slide-cover
              img(src='https://images.unsplash.com/photo-1541888804692-532ae8a87985?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80', alt='')
          .promo__slide.swiper-slide
            .promo__slide-content
              .promo__slide-container
                h2.promo__slide-title Сотрудничество с нами — это решение ваших задач
                .promo__slide-desc
                  p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
            .promo__slide-cover
              img(src='https://images.unsplash.com/photo-1541888804692-532ae8a87985?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80', alt='')
        .promo__slider-navigation-wrap
          .promo__slider-navigation-container
            +slider-navigation().promo__slider-navigation

  .services
    .services__container
      ul.services__list
        li.services__item
          +service-card({
            title: 'Водопонижение',
            image: 'https://images.unsplash.com/photo-1541888946425-d81bb19240f5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80'
          })
        li.services__item
          +service-card({
            title: 'Строительство и ремонт инженерных сетей',
            image: 'https://images.unsplash.com/photo-1536895058696-a69b1c7ba34f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80'
          })
        li.services__item
          +service-card({
            title: 'Оборудование',
            image: 'https://images.unsplash.com/photo-1478486982180-2de2fafa19f9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80'
          })

  +contact-us()
  +seo()

  .partners
    .partners__container
      +slider-navigation().partners__slider-navigation
      .partners__slider
        .swiper-wrapper
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-1.svg', alt='', width='108', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-2.svg', alt='', width='65', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-3.svg', alt='', width='30', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-4.svg', alt='', width='115', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-5.svg', alt='', width='59', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-6.svg', alt='', width='112', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-1.svg', alt='', width='108', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-2.svg', alt='', width='65', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-3.svg', alt='', width='30', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-4.svg', alt='', width='115', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-5.svg', alt='', width='59', height='30')
          .swiper-slide
            figure.partners__item
              img(src='img/partner-ex-6.svg', alt='', width='112', height='30')