extends ../pug/layout.pug

block meta
  - var title = 'Service';
  title= title
  meta(name='description', content='')

block content
  section.service
    .service__container
      h1.service__title Технологии водопонижения
      p.service__desc Мы применяем самые современные технологии в ремонте инженерных сетей
      ul.service__list
        li.service__item
          a.service__item-cover(href='')
            img(src='https://images.unsplash.com/photo-1541888946425-d81bb19240f5?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80', alt='', width='295', height='166')
          .service__item-content
            h2.service__item-title Бестраншейный ремонт трубопроводов с применением пневмопробойника
            .service__item-desc
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
            +btn('Подробнее', 'ghost').service__item-link
        li.service__item
          a.service__item-cover(href='')
            img(src='https://images.unsplash.com/photo-1536895058696-a69b1c7ba34f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80', alt='', width='295', height='166')
          .service__item-content
            h2.service__item-title Горизонтально направленное бурение
            .service__item-desc
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
            +btn('Подробнее', 'ghost').service__item-link
        li.service__item
          a.service__item-cover(href='')
            img(src='https://images.unsplash.com/photo-1478486982180-2de2fafa19f9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1502&q=80', alt='', width='295', height='166')
          .service__item-content
            h2.service__item-title Метод бестраншейной санации трубопроводов УФ-лайнер
            .service__item-desc
              p It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using ‘Content here, content here’, making it look like readable English.
            +btn('Подробнее', 'ghost').service__item-link

  +contact-us()
  +featured-works()
  +seo()