extends ../pug/layout.pug

block meta
  - var title = 'Service Inner'
  title= title
  meta(name='description', content='')

block content
  section.service-inner
    .service-inner__intro
      .service-inner__intro-container
        .service-inner__cover
          img(src='img/service-inner-cover.jpg', alt='')
        .service-inner__content
          h1.service-inner__title Водопонижение иглофильтрами
          ul.service-inner__term-list.service-inner__term-list--numered
            li Иглофильтр
            li Коллектор
            li Установка водопонижения
            li Уловитель песка
            li Отводной трубопровод
            li Сливной шланг
            li Счётчик потока
          ul.service-inner__term-list.service-inner__term-list--alphabet
            li Грунтовые воды
            li Колодец
            li Котлован
    .service-inner__body
      .service-inner__body-container
        h2.service-inner__title Заголовок
        .service-inner__text
          p Строительное водопонижение — это комплекс мер, обеспечивающих понижение уровня грунтовых вод в котлованах и его поддержание на время необходимое для проведения работ.
          p Способы водопонижения грунтовых вод и используемое оборудование (скважины с погружными насосами, эжекторами, водопонижение иглофильтрами, открытый водоотлив и т.п.) выбираются в зависимости от параметров котлована, гидрологических и геологических условий, конструкции будущего сооружения и требований технико-экономического характера.
          p Для строительного водопонижения уровня грунтовых вод применяют: легкие иглофильтровые установки, эжекторные иглофильтры, установки вакуумного и забойного водопонижения, а также глубинные насосы, устанавливаемые в водопонижающие скважины.
          p Целью водопонижения является  поддержание водоносных грунтов в осушенном состоянии в течение всего периода возведения сооружения. В ряде случаев строительное водопонижение грунтовых вод применяют для снятия избыточного напора в подстилающих водоносных грунтах, отделенных от дна котлована слоем водоупорного грунта.
          p Однако в ряде случаев (например, когда близко под дном котлована залегают водоупорные грунты) полностью осушить водоносные грунты не удается и над водоупором остается слой воды толщиной 0,5-1 м. Для его снятия чаще всего применяют открытый водоотлив с помощью переносных насосных установок, откачивающих воду из устраиваемых временных колодцев.
          p При выборе способа строительного водопонижения уровня грунтовых вод учитывают характеристики грунтов и условия их залегания, мощность водоносного слоя, коэффициент фильтрации, размеры осушаемой зоны в грунте, способы производства горнопроходческих или строительных работ, продолжительность водопонижения, характеристики имеющихся технических средств водопонижения.
          p Мы предлагаем автономные дизельные установки водопонижения с пониженным уровне шума мод. ВВА РТ 90 Economy (пр-во Голландия) производительностью-90 м. куб. в час, номинальное кол-во иглофильтров на установке-100 шт. Для эксплуатации установок не требуется электроэнергия. Стоимость дизельного топлива входит в стоимость аренды оборудования.
          p Не имея полной информации о состоянии грунтов, наличия водоносных слоев, коэффициента фильтрации мы можем предложить ориентировочную стоимость работ по проведению водопонижения.
          p Инженер-гидротехник тел. +7 (925) 183-85-77 Константин.

  +cost-calculation()
  +contact-us()
  +featured-works()