extends ../pug/layout.pug

block meta
  - var title = 'Works';
  title= title
  meta(name='description', content='')

block content
  .works
    .works__container
      h1.works__title Проекты
      ul.works__list
        li.works__item
          +work-card()
        li.works__item
          +work-card()
        li.works__item
          +work-card()
        li.works__item
          +work-card()
      +btn('Показать больше', 'ghost').works__show-more

  +contact-us()