.page-footer {
  padding: 2.25rem 1rem;

  @include media-min-sm {
    padding: 3rem 1rem 2.25rem;
  }

  &__container {
    @include container-d;
  }

  &__top {

    @include media-min-sm {
      display: grid;
      gap: 20px;
      grid-template: 'logo navigation contacts location' / 4fr 3fr 3fr 2fr;
    }
  }

  &__logo {
    margin-bottom: 1.5rem;

    @include media-min-sm {
      grid-area: logo;
    }
  }

  &__section {
    margin-bottom: 1.5rem;

    &--navigation {

      @include media-min-sm {
        grid-area: navigation;
      }
    }

    &--contacts {

      @include media-min-sm {
        grid-area: contacts;
      }
    }

    &--location {

      @include media-min-sm {
        grid-area: location;
      }
    }
  }

  &__section-title {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;

    li {
      margin: 0;
      padding: 0;
      font-size: ms(-1);
      line-height: 1.45em;

      &:not(:last-child) {
        margin-bottom: 0.25rem;
      }

      a {
        display: inline-block;
        color: currentColor;
        text-decoration: none;
        transition: 250ms $transition-timing;

        &:hover,
        &:focus {
          text-decoration: none;
          color: $primary-c;
        }
      }
    }
  }

  &__address {
    font-size: ms(-1);
    line-height: 1.45em;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding-top: 0.75rem;
  }

  &__copyright {
    font-size: 12px;
    line-height: 1.45em;
    display: block;
  }

  &__to-top {
    display: block;
    position: relative;
    width: 50px;
    height: 50px;
    overflow: hidden;
    background-color: transparent;
    z-index: 1;

    &::after {
      content: '';
      position: absolute;
      z-index: 1;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      transform: translate3d(0, 100%, 0);
      transition: transform 0.75s $transition-timing;
      background-color: $primary-c;
    }

    &:hover,
    &:focus {
      text-decoration: none;

      &::after {
        transform: translate3d(0, 0, 0);
      }

      .page-footer__to-top-icon--default {
        transform: translate3d(-50%, -100%, 0) rotate(-90deg);
        opacity: 0;
      }

      .page-footer__to-top-icon--hover {
        transform: translate3d(-50%, -50%, 0) rotate(-90deg);
        opacity: 1;
      }
    }
  }

  &__to-top-icon {
    display: block;
    position: absolute;
    z-index: 2;
    top: 50%;
    left: 50%;
    transition:
      transform 0.75s $transition-timing,
      opacity 0.5s $transition-timing;

    svg {
      display: block;
    }

    &--default {
      transform: translate3d(-50%, -50%, 0) rotate(-90deg);
      opacity: 1;

      svg {
        stroke: $text-c;
      }
    }

    &--hover {
      transform: translate3d(-50%, 150%, 0) rotate(-90deg);
      opacity: 0;

      svg {
        stroke: $text-c--light;
      }
    }
  }
}