mixin page-footer(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' page-footer--' + modsList[i].trim();
      }
    }

  footer.page-footer(class=allMods)&attributes(attributes)
    .page-footer__container
      .page-footer__top
        +logo('/').page-footer__logo
          img(src='img/logo.png', alt='Европейская строительная компания', width='200', height='41')
        .page-footer__section.page-footer__section--navigation
          h3.page-footer__section-title Информация
          ul.page-footer__list
            li
              a(href='/') Главная
            li
              a(href='/') Водопонижение
            li
              a(href='/') Инженерные сети
            li
              a(href='/') Оборудование
            li
              a(href='/') Наши работы
            li
              a(href='/') Контакты
        .page-footer__section.page-footer__section--contacts
          h3.page-footer__section-title Связаться с нами
          ul.page-footer__list
            li
              a(href='tel:+79253308603') +7 (925) 330-86-03
            li
              a(href='mailto:eck-rus@yandex.ru') eck-rus@yandex.ru
        .page-footer__section.page-footer__section--location
          h3.page-footer__section-title Адрес
          address.page-footer__address Москва, Соколово-Мещерская, д. 25, пом. 7
      .page-footer__bottom
        span.page-footer__copyright © 2020 — Европейская Строительная Компания.
        a.page-footer__to-top(href='/')
          span.page-footer__to-top-icon.page-footer__to-top-icon--default
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 31 13', width='31', height='13')
              path(d='M-2.4e-7 6.5H30m0 0L24.5902 1M30 6.5L24.5902 12')
          span.page-footer__to-top-icon.page-footer__to-top-icon--hover
            svg(xmlns='http://www.w3.org/2000/svg', fill='none', viewbox='0 0 31 13', width='31', height='13')
              path(d='M-2.4e-7 6.5H30m0 0L24.5902 1M30 6.5L24.5902 12')