.service {
  @include s-padding;

  &__container {
    @include container-d;
  }

  &__title {
    @include s-title;
    margin-bottom: 0.275rem;
  }

  &__desc {
    font-size: ms(-1);
    line-height: 1.45em;
    margin-bottom: 2.25rem;
  }

  &__list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__item {
    margin: 0;
    padding: 0;

    &:not(:last-child) {
      margin-bottom: 2.25rem;
    }

    @include media-min-sm {
      border-top: 1px solid $border-c;
      padding-top: 1rem;
      display: grid;
      gap: 20px;
      grid-template: 'cover . content' / 4fr 1fr 7fr;
    }
  }

  &__item-cover {
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 1.5rem;
    display: block;

    &::after {
      display: block;
      content: '';
      width: 100%;
      padding-bottom: (9 / 16) * 100%;
    }

    img {
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: center;
      transition: 500ms $transition-timing;
    }

    &:hover {

      img {
        transform: scale(1.05);
      }
    }

    @include media-min-sm {
      margin-bottom: 0;
      grid-area: cover;

      &::after {
        padding-bottom: (3 / 4) * 100%;
      }
    }
  }

  &__item-content {

    @include media-min-sm {
      grid-area: content;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      align-items: flex-start;
    }
  }

  &__item-title {
    font-size: ms(0);
    line-height: 1.25em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;

    @include media-min-sm {
      font-size: ms(1);
      margin-bottom: 0.75rem;
    }
  }

  &__item-desc {
    font-size: ms(-1);
    line-height: 1.5em;
    margin-bottom: 0.75rem;

    @include media-min-sm {
      margin-bottom: auto;
    }
  }

  &__item-link {
    margin-top: 1.5rem;
  }
}