.contacts {
  @include s-padding;

  &__container {
    @include container-d;

    @include media-min-sm {
      display: grid;
      gap: 20px;
      grid-template:
        'intro intro'
        'get-a-call contacts' / 6fr 6fr;
    }

    @include media-min-lg {
      display: grid;
      gap: 20px;
      grid-template:
        'intro intro intro'
        'get-a-call . contacts' / 6fr 1fr 5fr;
    }
  }

  &__intro {
    grid-area: intro;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 500;

    @include media-min-sm {
      font-size: ms(2);
    }
  }

  &__desc {
    font-size: 16px;
    line-height: 1.4em;
    margin: 0;
  }

  &__get-a-call {
    grid-area: get-a-call;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 0;
    }
  }

  &__contacts {
    align-self: start;
    grid-area: contacts;
    padding: 1.5rem 1rem;
    background-color: $bg-c--dark;
    color: $text-c--light;

    @include media-min-sm {
      padding: 2.25rem;
    }
  }

  &__contacts-list {
    list-style: none;
    margin: 0;
    padding: 0;
  }

  &__contacts-item {
    margin: 0;
    padding: 0;
    margin-bottom: 1.5rem;
    font-size: ms(-1);
    line-height: 1.45em;
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    a {
      display: inline-block;
      text-decoration: none;
      color: currentColor;
      margin-bottom: 0.25rem;
    }
  }

  &__contacts-item-title {
    font-size: 12px;
    line-height: 1.45em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__sign-up-btn {
    min-height: 60px;

    @include media-min-sm {
      width: 100%;
    }
  }
}
