mixin service-card(props, mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' service-card--' + modsList[i].trim();
      }
    }

  .service-card(class=allMods)&attributes(attributes)
    a.service-card__cover(href='')
      img(src=props.image, alt='', width='', height='')
    h3.service-card__title!= props.title
    p.service-card__preview It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.
    a.service-card__link(href='/') Подробнее