.service-card {

  &__cover {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin-bottom: 0.75rem;

    &::before {
      display: block;
      content: '';
      width: 100%;
      padding-bottom: (9 / 16) * 100%;
    }

    img {
      position: absolute;
      top: 0;
      left: 0;
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
      transform-origin: center;
      transition: 500ms $transition-timing;
    }

    &:hover {

      img {
        transform: scale(1.05);
      }
    }

    @include media-min-sm {

      &::before {
        display: block;
        content: '';
        width: 100%;
        padding-bottom: 100%;
      }
    }
  }

  &__title {
    font-size: ms(1);
    line-height: 1.1em;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 0.5rem;
  }

  &__preview {
    font-size: ms(-1);
    line-height: 1.45em;
    margin-top: 0;
    margin-bottom: 0.75rem;
  }

  &__link {
    display: inline-block;
    text-decoration: none;
    position: relative;
    color: $primary-c;
    font-size: ms(-1);
    line-height: 1.45em;
    vertical-align: top;
    font-weight: 600;

    &::before {
      content: '';
      position: absolute;
      left: -0.25rem;
      right: -0.25rem;
      top: -0.25rem;
      bottom: -0.25rem;
    }

    &::after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      background-color: currentColor;
      height: 1px;
      transform: scaleX(1);
      transition: transform 0.5s $transition-timing;
      transform-origin: center left;
    }

    &:hover,
    &:focus {
      text-decoration: none;
      color: $primary-c;

      &::after {
        transform: scaleX(0);
        transform-origin: center right;
      }
    }
  }
}