mixin cost-calculation(mods)

  -
    var allMods = '';
    if (typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' cost-calculation--' + modsList[i].trim();
      }
    }

  section.cost-calculation(class=allMods)&attributes(attributes)
    .cost-calculation__cover
      img(src='https://images.unsplash.com/photo-1598517834810-65ce635f3d4d?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1510&q=80', alt='', width='', height='')
    .cost-calculation__content
      .cost-calculation__container
        h2.cost-calculation__title Расчёт стоимости работ
        form.cost-calculation__form
          .cost-calculation__form-group
            label.cost-calculation__range-label Подпись
            span.cost-calculation__range.range-slider(style='--min:0; --max:100; --value:75; --text-value:"75";')
              input(type='range', min='0', max='100', value='75', oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))")
              output
              .range-slider__progress
          .cost-calculation__form-group
            label.cost-calculation__range-label Подпись
            span.cost-calculation__range.range-slider(style='--min:0; --max:100; --value:75; --text-value:"75";')
              input(type='range', min='0', max='100', value='75', oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))")
              output
              .range-slider__progress
          .cost-calculation__form-group
            label.cost-calculation__range-label Подпись
            span.cost-calculation__range.range-slider(style='--min:0; --max:100; --value:50; --text-value:"50";')
              input(type='range', min='0', max='100', value='50', oninput="this.parentNode.style.setProperty('--value',this.value); this.parentNode.style.setProperty('--text-value', JSON.stringify(this.value))")
              output
              .range-slider__progress
        .cost-calculation__total
          | Итого: &nbsp;
          span 18 498 000 ₽