.cost-calculation {
  padding-bottom: 2.25rem;

  @include media-min-sm {
    padding-bottom: 4.5rem;
  }

  &__cover {
    height: 420px;
    position: relative;

    img {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    @include media-min-sm {
      height: 600px;
    }
  }

  &__content {
    padding: 0 1rem;
    margin-bottom: -6rem;
  }

  &__container {
    @include container-d;
    background-color: $bg-c--shade;
    padding: 2.25rem 1rem;
    transform: translateY(-6rem);

    @include media-min-sm {
      padding: 3rem 1.5rem;
    }

    @include media-min-lg {
      padding: 3rem 4.5rem;
    }
  }

  &__title {
    @include s-title;
    margin-bottom: 1.5rem;

    @include media-min-sm {
      margin-bottom: 2.25rem;
    }
  }

  &__form {
    display: grid;
    gap: 20px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;

    @include media-min-sm {
      gap: 20px;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: auto;
    }
  }

  &__form-group {

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }
  }

  &__range {
    display: block;
    --primary-color: #333;
    --value-font: 600 12px/1 -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
    --track-height: 2px;
    --value-background-hover: none;
    --value-active-color: #333;
    --progress-background: #c2c2c2;
    --thumb-color: #333;
    --thumb-shadow: none;
    --thumb-shadow-active: none;
    margin: 0 -10px;

    > input:hover + output {
      --y-offset: 0px;
    }

    > input + output {
      padding: 0 4px;
    }
  }

  &__range-label {
    font-size: ms(-1);
    line-height: 1.45em;
    font-weight: 600;
    display: block;
    margin-bottom: 1.5rem;
  }

  &__total {
    margin-top: 2.25rem;
    font-size: ms(1);
    line-height: 1.25em;

    span {
      font-weight: 600;
    }
  }
}