.burger {
  display: block;
  position: relative;
  width: 1.5rem;
  height: 1.5rem;
  border: none;
  padding: 0;
  cursor: pointer;
  background-color: transparent;
  color: currentColor;

  &::before {
    content: '';
    position: absolute;
    top: -0.5rem;
    right: -0.5rem;
    bottom: -0.5rem;
    left: -0.5rem;
  }

  span {
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 0;
    width: 1.5rem;
    height: 1px;
    transform: translate3d(0, -50%, 0);
    background-color: currentColor;

    &::before,
    &::after {
      content: '';
      display: block;
      position: absolute;
      right: 0;
      width: 100%;
      height: 1px;
      background-color: inherit;
      transform-origin: center;
    }

    &::before {
      top: -7px;
    }

    &::after {
      bottom: -7px;
    }
  }

  &--is-active {

    span {
      background-color: transparent;

      &::before {
        transform: rotate(45deg);
        top: 0;
        background-color: $text-c;
      }

      &::after {
        transform: rotate(-45deg);
        bottom: 0;
        background-color: $text-c;
      }
    }
  }
}