// Width
$screen-xs: 576px;
$screen-sm: 768px;
$screen-md: 992px;
$screen-lg: 1200px;
$screen-xl: 1440px;
$screen-xxl: 1920px;

// Project colors
$text-c: #333333;
$text-c--light: #f2f2f2;

$bg-c: #ffffff;
$bg-c--shade: #f2f2f2;
$bg-c--dark: #052e3d;

$primary-c: #05a0D8;

// Fonts
$font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
$font-family--monospace: SFMono-Regular, Menlo, Monaco, Consolas, 'Liberation Mono', 'Courier New', monospace;

// Misc
$border-c: #d9d9d9;
$transition-timing: cubic-bezier(0.15, 0.85, 0.45, 1);
