.form {

  &__label {
    display: block;
    position: relative;
    margin-bottom: 1rem;

    @include media-min-sm {
      margin-bottom: 1.5rem;
    }
  }

  &__input-title {
    font-weight: 600;
    font-size: 12px;
    line-height: 1.2em;
    display: block;
  }

  &__input-wrap {
    display: block;
    position: relative;
  }

  &__input {
    display: inline-block;
    width: 100%;
    margin: 0;
    border: none;
    padding: 10px 0;
    vertical-align: middle;
    font-size: 16px;
    line-height: 1.4em;
    border-radius: 0;
    font-family: $font-family;
    border-bottom: 1px solid $text-c;

    &::placeholder {
      font-family: $font-family;
      color: $text-c;
      opacity: 0.25;
    }

    &:focus {
      outline: none;
      border-color: $primary-c;
    }

    @at-root textarea#{&} {
      height: auto;
      min-height: 140px;
      border: 1px solid $text-c;
      padding: 15px 1rem;
      resize: vertical;
      margin-top: 10px;
    }
  }

  &__checkbox-input {
    position: absolute;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
    opacity: 0;
  }

  &__checkbox-title {
    display: inline-block;
    padding-left: 35px;
    font-size: ms(-1);
    line-height: 1.45em;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 1rem;
      height: 1rem;
      border: 1px solid $text-c;
    }

    &:after {
      content: '';
      position: absolute;
      top: 5px;
      left: 3px;
      width: 14px;
      height: 6px;
      opacity: 0;
      border-left: 1px solid currentColor;
      border-bottom: 1px solid currentColor;
      transform: rotate(-45deg);
      box-shadow: 1px 2px 0 #fff, inset 0 -2px 0 #fff;

      @at-root input:checked ~ & {
        opacity: 1;
      }
    }
  }

  &__submit {

    @include media-min-sm {
      width: 100%;
      min-height: 60px;
    }
  }
}
