mixin get-a-call-modal

  .get-a-call-modal(id='get-a-call-modal', style='display: none; width: 500px;')
    h2.get-a-call-modal__title
      | Оставьте заявку
      br
      | и мы вам перезвоним!
    form.form
      label.form__label
        span.form__input-title Имя
        span.form__input-wrap
          input.form__input(type='text', placeholder='')
      label.form__label
        span.form__input-title Телефон
        span.form__input-wrap
          input.form__input(type='text', placeholder='+7 (921) 129-95-91')
      +btn('Отправить заявку', 'ghost').form__submit.get-a-call-modal__form-submit(type='submit')